* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.comments-like, .comments-dislike {
    display: inline-block;
    vertical-align: middle;
    /* background-image: url('sprite2-50f.arb.png'); */
    background-position: -206px 0;
    width: 14px;
    height: 14px;
    margin-right: 7px;
    opacity: .5;
    cursor: pointer;
}
.link{
    color: #212529;
    font-size: 20px;
    font-weight: bold;
}
.comments-dislike {
    background-position: -12px 0;
}
.comments-like:hover, .comments-dislike:hover {
    opacity: .8;
}
.photo-title{
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media print {
    *, *::after, *::before {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }

    h2, h3, p {
    }

    h2, h3 {
        page-break-after: avoid;
    }
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

article, aside, figure, header, main, nav {
    display: block;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33, 37, 41);
    text-align: left;
    background-color: rgb(255, 255, 255);
}

h1, h2, h3, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0px;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0px;
    margin-bottom: 1rem;
}

strong {
    font-weight: bolder;
}

a {
    color: rgb(0, 123, 255);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: rgb(0, 86, 179);
    text-decoration: underline;
}

figure {
    margin: 0px 0px 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

a {
    touch-action: manipulation;
}

h1, h2, h3, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 1rem;
}

.col-md-12, .col-md-4, .col-md-6, .col-md-7, .col-md-8, .col-sm-12, .col-sm-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {

    .col-sm-8 {
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {

    .col-md-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }

    .col-md-8 {
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}

.btn:focus {
    outline: 0px none;
    box-shadow: 0px 0px 0px 0.2rem rgba(0, 123, 255, 0.25);
}

.btn:disabled {
    opacity: 0.65;
}

.btn:active:not([disabled]):not(.disabled) {
    background-image: none;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

body {
    font-family: "Open Sans", sans-serif;
    background: rgb(235, 235, 235) none repeat scroll 0% 0%;
    font-size: 1rem;
    line-height: 27px;
}

.number {
    padding-left: 20px;
    margin-bottom: 1rem;
}

.number li {
    list-style-type: disc;
    list-style-position: outside;
}

.info_weight {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.info_weight span {
    color: #ce0e0e;
}

:focus, div, *, .btn, a:active {
    outline: medium none;
    box-shadow: 0px 0px 0px 0px;
}

:focus, :active {
    outline: 0px none;
    box-shadow: 0px 0px 0px 0px;
}

*::-moz-selection {
    background: rgb(46, 69, 165) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
}

ul, li {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: outside none none;
}

img {
    vertical-align: text-bottom;
}

.container {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

header {
    margin-top: 20px;
}

.logo h1 {
    font-weight: 300;
    display: inline-block;
    color: rgb(116, 115, 115);
    font-size: 40px;
    letter-spacing: 12px;
    position: relative;
}

.logo h1 span {
    font-family: Georgia, "Times Italic", "PT Serif";
    font-style: italic;
}

.logo img {
    position: relative;
    top: 10px;
}

#content h2 {
    color: #212529;
    font-size: 44px;
    font-weight: 700;
    padding: 20px 0px;
    margin: 0px;
    display: block;
}

#content em {
    padding: 10px 0px;
    display: block;
    font-size: 1.2rem;
}

#content img {
    width: 100%;
    height: auto;
    border-radius: 19px;

}

.data_main {
    padding-top: 20px;
}

#date, .on_page {
    font-size: 12px;
    color: rgb(116, 115, 115);
    text-align: left;
}

#date {
    text-align: right;
}

.on_page strong {
    color: rgb(46, 70, 166);
}

.logo_main {
    border-bottom: 1px solid rgb(235, 235, 235);
    border-top: 1px solid rgb(235, 235, 235);
    padding: 20px 0px;
}

nav ul {
    width: 100%;
    display: table;
    margin-top: 20px;
}

nav ul li {
    text-align: center;
    display: table-cell;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

nav ul li span {
    color: rgb(0, 0, 0);
    padding: 10px 0px;
    font-size: 14px;
    display: block;
    border-top: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
}

nav ul li span:hover {
    color: rgb(255, 255, 255);
    background: rgb(36, 51, 150) none repeat scroll 0% 0%;
    text-decoration: none;
    cursor: pointer;
}

.info_produkt {
    text-align: center;
}

a.btn, a.btn:visited {
    color: rgb(255, 255, 255);
    font-size: 0.7em;
    font-weight: 700;
    text-decoration: underline;
    white-space: normal;
    background: rgb(94, 167, 48) none repeat scroll 0% 0%;
}

a.btn:hover {
    color: rgb(49, 74, 174);
}

.yelow_bg {
    background: rgb(255, 230, 18) none repeat scroll 0% 0%;
    font-weight: bold;
}

.link_web_site {
    color: rgb(66, 101, 169);
}

.produkt_placement_main {
    display: block;
    padding-top: 50px;
}

.produkt_placement_main .btn {
    text-align: center;
    width: 70%;
    margin: -30px auto auto;
    border: 1px solid rgb(104, 168, 65);
    display: block;
    text-decoration: none;
    font-size: 29px;
    background: rgb(104, 168, 65) none repeat scroll 0% 0%;
    transition: all 0.8s ease-in-out 0s;
}

.picture img {
    width: 100%;
}

.dec_info_blog {
    padding: 5px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.picture {
    background: rgb(245, 244, 234) none repeat scroll 0% 0%;
}

.produkt_placement_main .btn:hover {
    color: rgb(255, 255, 255);
    background: rgb(226, 79, 100) none repeat scroll 0% 0%;
    border-color: rgb(226, 79, 100);
    text-shadow: 1px 1px 1px rgb(0, 14, 65);
    transition: all 0.8s ease-in-out 0s;
}

.produkt_placement_main img:hover {
    filter: saturate(200%);
}

.product_placement { /* background: rgb(167, 168, 168) none repeat scroll 0% 0%; */
    display: block;
    box-sizing: border-box;
    border: 2px solid rgb(181, 181, 181);
    transition: all 0.4s ease-in-out 0s;
}

.product_placement:hover {
    box-sizing: border-box;
    border: 2px solid rgb(94, 167, 48);
    text-decoration: none;
    transition: all 0.8s ease-in-out 0s;
}

.product_placement img {
    transition: all 0.3s ease 0s;
}

.product_placement img:hover {
    transition: all 0.3s ease 0s;
}

#content .product_placement h3 {
    background: rgb(94, 167, 48) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0px;
    margin-bottom: 0px;
}

.main-cta {
    color: rgb(255, 26, 26);
    font-size: 18px;
    font-weight: 700;
}

.product_placement {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-bottom: 40px;
}

.comments {
    font-size: 12px;
}

.bred_crumbs {
    padding: 10px 0px 10px 10px;
}

.bred_crumbs li {
    display: inline;
}

.bred_crumbs li span {
    color: rgb(11, 15, 44);
    display: inline-block;
    padding-right: 25px;
    font-size: 11px;
    padding-left: 10px;
    cursor: pointer;
    position: relative;
}
.bred_crumbs li span:after {
    content: '>';
    position: absolute;
    right: 0;
    top: auto;
}
.bred_crumbs li span:hover {
    text-decoration: underline;
}
.bred_crumbs li span.last_crumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
}
.bred_crumbs li span.last_crumb:after {
    content: none;
}
.bred_crumbs span.last_crumb {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.comments {
    margin: 0px 0px 20px;
    padding: 0px;
    color: rgb(128, 128, 128);
    font-size: 12px;
    line-height: 1.28;
}
.comments .name span {
    color: rgb(59, 89, 152);
}
.comments span {
    font-weight: bold;
    text-decoration: none;
    border: 0px none;
}


.opinion {
    font-style: italic;
    margin-bottom: 1rem;
}

.comments .comments-count {
    float: left;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

.comments .comments-top {
    padding: 9px 0px;
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    font-size: 11px;
    line-height: 13px;
}

.comments .comment-content p {
    font-size: 12px;
    line-height: 1.28;
    margin: 0px;
    color: rgb(62, 62, 62);
}
.comment-content {
    margin-bottom: 10px;
    margin-top: 4px;
}
.comments .action-bar .reply span{
    color: rgb(59, 89, 152);
}
.comments .action-bar span {
    font-weight: normal;
}

.comments li.c {
    border-bottom: 1px solid rgb(233, 233, 233);
    padding: 10px 0px 0px;
}

.comments figure {
    max-width: 100%;
    width: 50px;
}

.comments .count {
    color: rgb(59, 89, 152);
}

.comments .comment {
    margin-bottom: 10px;
    padding-left: 60px;
}

.comments .comment-content p {
    font-size: 12px;
    line-height: 1.28;
    display: block;
}

#content p, #content li {
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;

}

#content h3 {
    font-size: 20px;
    color: rgb(206, 14, 14);
    font-weight: bold;
    margin-bottom: 1rem;
}

#content h5 {
    font-size: 20px;
    color: #212529 ;
    font-weight: bold;
    padding-top: 0px;
    margin-bottom: 1rem;
}

.opinion {
    font-size: 13px;
    background: rgba(255, 246, 229, 0.37) none repeat scroll 0% 0%;
}

.opinion .col-xs-12 {
    border-bottom: 5px solid rgb(255, 255, 255);
}

.opinion .col-xs-12:hover {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

.opinion h6 {
    font-style: normal;
    font-size: 14px;
    padding-top: 20px;
    font-weight: bold;
}

.addcomenct {
    width: 10px;
    height: 10px;
    padding-left: 15px;
    margin-left: 10px;
    color: #3B5998;
}

@media screen and (max-width: 780px) {
    .produkt_placement_main .btn {
        color: rgb(255, 255, 255);
    }

    .logo h1 {
        font-size: 30px;
    }

    #content h2 {
        font-size: 24px;
    }

    .comments {
        margin-top: 30px;
    }

    aside {
        text-align: center;
    }

    #date {
        text-align: left;
    }

    nav, .bredcroumbs {
        display: none;
    }

    a.btn {
        color: rgb(255, 255, 255);
    }
}

@media screen and (max-width: 480px) {
    .logo {
        text-align: center;
    }

    body {
        font-family: "Open Sans", sans-serif;
        background: rgb(235, 235, 235) none repeat scroll 0% 0%;
        font-size: 0.8rem;
        line-height: 22px;
    }

    #content h2 {
        font-size: 24px;
    }

    a.btn {
        color: rgb(46, 68, 160);
        font-size: 0.8em;
    }

    .logo h1 {
        font-size: 28px;
        letter-spacing: 0px;
        padding-top: 30px;
    }
}

.subcoment {
    margin-left: 40px;
}

@media all and (max-width: 780px) {
    header {
        margin-top: 10px;
    }

    .container {
        padding-top: 4px !important;
    }
}

/* ::::: http://med-help-rf.ru/guarchibao6/%D0%91%D0%BB%D0%BE%D0%B3%20%D0%94%D0%B0%D1%80%D1%8C%D0%B8%20-%20%D0%91%D1%83%D1%85%D0%B3%D0%B0%D0%BB%D1%82%D0%B5%D1%80%20%D0%BF%D0%BE%20%D1%80%D0%B0%D1%81%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D1%8E_files/geo_comebacker.css ::::: */

a:active, a:focus {
    outline: medium none;
}

:focus {
    outline: medium none;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/opensans.eot') format("embedded-opentype"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/opensans.woff') format("woff"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/opensans.ttf') format("truetype"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/opensans.svg') format("svg");
}

@font-face {
    font-family: "Open Sans Light";
    font-style: normal;
    font-weight: 400;
    src: url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/opensanslight.eot') format("embedded-opentype"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/opensanslight.woff') format("woff"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/opensanslight.ttf') format("truetype"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/opensanslight.svg') format("svg");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Thin"), local("Roboto-Thin"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/cdn0.woff2') format("woff2"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotothin.woff') format("woff"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotothin.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/cdn1.woff2') format("woff2"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotothinitalic.woff') format("woff"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotothinitalic.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/cdn2.woff2') format("woff2"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotolight.woff') format("woff"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotolight.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/cdn3.woff2') format("woff2"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotolightitalic.woff') format("woff"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotolightitalic.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/cdn4.woff2') format("woff2"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/roboto.woff') format("woff"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/roboto.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: local("Roboto Italic"), local("Roboto-Italic"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/cdn5.woff2') format("woff2"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotoitalic.woff') format("woff"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotoitalic.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/cdn6.woff2') format("woff2"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotomedium.woff') format("woff"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotomedium.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/cdn7.woff2') format("woff2"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotomediumitalic.woff') format("woff"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotomediumitalic.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/cdn8.woff2') format("woff2"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotobold.woff') format("woff"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotobold.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/cdn9.woff2') format("woff2"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotobolditalic.woff') format("woff"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotobolditalic.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: local("Roboto Black"), local("Roboto-Black"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/cdn10.woff2') format("woff2"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotoblack.woff') format("woff"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotoblack.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/cdn11.woff2') format("woff2"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotoblackitalic.woff') format("woff"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/robotoblackitalic.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Condensed"), local("RobotoCn-Regular"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/roboto-condensed.woff') format("woff"), url('http://viposidn.com/content/W03CAbeib5tC3Do/fonts/roboto-condensed.ttf') format("truetype");
}

a:active, a:focus {
    outline: medium none;
}

:focus {
    outline: medium none;
}

html, body {
    overflow-x: hidden;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;

    cursor: pointer;
}

.popup-window {
    width: 100%;
    max-width: 751px;
    max-height: 100vh;
    background: rgba(60, 114, 181, 1);
    background: -moz-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(60, 114, 181, 1)), color-stop(100%, rgba(123, 159, 204, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
    background: linear-gradient(135deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c72b5', endColorstr='#7b9fcc', GradientType=1);
    font-family: Roboto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #ddd;
    text-align: center;
    padding: 23px 15px;
    cursor: default;
}
.popup-window .close {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
}
.popup-window .close:before {
    content: '';
    position: absolute;
    left: 0;
    top: 13px;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: rotate(45deg);
}
.popup-window .close:after {
    content: '';
    position: absolute;
    left: 0;
    top: 13px;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: rotate(-45deg);
}
.popup-title {
    font-size: 30px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    display: block;
    color: #fff;
}

.popup-body {
    display: block;
    width: 90%;
    padding: 0 5%;
    margin-top: 27px;
}

.popup-img-box {
    float: left;
    display: block;
    width: 30%;
    margin: 0 auto;
}

.popup-img-box img {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.popup-text {
    display: block;
    width: 65%;
    float: right;
    margin-left: 5%;
    margin-top: 15px;
}

.popup-text p {
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1.5;
    text-align: left;
    color: #fff;
    font-size: 22px;
    padding-bottom: 5px;
}

.popup-link-btn {
    display: inline-block;
    border: 1px solid rgba(73,155,234,1);
    background: rgba(222,69,92,1);
    background: -moz-linear-gradient(-45deg,rgba(222,69,92,1) 0%,rgba(222,69,92,1) 13%,rgba(192,31,55,1) 76%,rgba(192,31,55,1) 100%);
    background: -webkit-gradient(left top,right bottom,color-stop(0%,rgba(222,69,92,1)),color-stop(13%,rgba(222,69,92,1)),color-stop(76%,rgba(192,31,55,1)),color-stop(100%,rgba(192,31,55,1)));
    background: -webkit-linear-gradient(-45deg,rgba(222,69,92,1) 0%,rgba(222,69,92,1) 13%,rgba(192,31,55,1) 76%,rgba(192,31,55,1) 100%);
    background: -o-linear-gradient(-45deg,rgba(222,69,92,1) 0%,rgba(222,69,92,1) 13%,rgba(192,31,55,1) 76%,rgba(192,31,55,1) 100%);
    background: -ms-linear-gradient(-45deg,rgba(222,69,92,1) 0%,rgba(222,69,92,1) 13%,rgba(192,31,55,1) 76%,rgba(192,31,55,1) 100%);
    background: linear-gradient(135deg,rgba(222,69,92,1) 0%,rgba(222,69,92,1) 13%,rgba(192,31,55,1) 76%,rgba(192,31,55,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de455c',endColorstr='#c01f37',GradientType=1);
    color: #fff;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 60px;
    vertical-align: top;
    text-indent: 0;
    font-style: normal;
    font-family: Arial,Helvetica,sans-serif;
    width: 100%;
    max-width: 402px;
    opacity: 1;
    bottom: 29px;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    border-radius: 10px;
    transition: .6s ease;
}

.popup-link-btn:hover {
    color: #FFFFFF;
    box-shadow: 0 0 15px rgba(255,255,255,0.5);
}

@media all and (max-width: 767px) {
    aside {
        display: none!important;
    }
}

.submit-roulette:hover {
    background: #bb0000;
    transition: background 0.3s;
    color: #FFF;
    text-decoration: none;
}

.submit-roulette:active {
    transform: translateY(2px);
    box-shadow: none;
}
.submit-roulette {
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 15px 0;
    outline: none;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 3px #242120;
    background: #ce0e0e;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.ruletka-p {
    text-indent: 0px;
    color: #212529;
    text-align: center !important;
    margin: 15px;
    line-height: 25px;
    font-weight: bold;
}

.ruletka-p h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

.ruletka-a {
    color: rgb(22, 151, 206);
}

.hidden-results {
    display: none;
}

.hidden-results span {
    font-weight: 700;
    color: #ce0e0e;
}